:root {
    --bg-color-light: #ffffff;
    --bg-color-dark: #1a1a1a;
    --text-color-light: #333333;
    --text-color-dark: #ffffff;
    --highlight-color-light: #f2f2f2;
    --highlight-color-dark: #444444;
}

/* Styles pour le mode clair */
body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--highlight-color-light);
}

tr:nth-child(even) {
    background-color: var(--highlight-color-light);
}

tr:hover {
    background-color: #ddd;
}

.selected {
    background-color: #a2a2a2 !important;
}

/* Styles pour le mode sombre */
.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.dark-mode th {
    background-color: var(--highlight-color-dark);
}

.dark-mode tr:nth-child(even) {
    background-color: var(--highlight-color-dark);
}

.dark-mode tr:hover {
    background-color: #444444;
}

.theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #444;
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: black;
}