<!DOCTYPE html>

<head>
<title>Inventory</title>
<style>
  td { padding: 0px 50px 0px 0px; }
  .w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;display:table}.w3-table-all{border:1px solid #ccc}
  .w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
  .w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
</style>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'>
<!-- Latest compiled and minified CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css'>
</head>

<body>

<p>Last refresh : Thu Feb 22 06:30:02 CET 2024
</p>

<table data-toggle='table' data-sort-order='asc' table-no-bordered
       data-sort-class='data-sortable' data-url="{{ url_for('static', filename='files/msqdb_formatted.json') }}"
       data-filter-control='true' data-filter-show-clear='true'>
  <thead>
    <tr>
      <th data-sortable='true' data-field='fqdn' data-filter-control='input'>fqdn</th>
      <th data-sortable='true' data-field='instance' data-filter-control='input'>instance</th>
      <th data-sortable='true' data-field='TCPDynamicPorts' data-filter-control='input'>TCPDynamicPorts</th>
      <th data-sortable='true' data-field='ListenOnAllIPs' data-filter-control='input'>ListenOnAllIPs</th>
      <th data-sortable='true' data-field='TCPPort' data-filter-control='input'>TCPPort</th>
      <th data-sortable='true' data-field='Majeur' data-filter-control='input'>Majeur</th>
      <th data-sortable='true' data-field='PatchLevel' data-filter-control='input'>PatchLevel</th>
      <th data-sortable='true' data-field='Mineur' data-filter-control='input'>Mineur</th>
      <th data-sortable='true' data-field='Edition' data-filter-control='input'>Edition</th>
      <th data-sortable='true' data-field='Os' data-filter-control='input'>Os</th>
      <th data-sortable='true' data-field='pupenv' data-filter-control='input'>pupenv</th>
    </tr>
  </thead>
</table>

</body>

<script src='https://code.jquery.com/jquery-3.7.1.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'></script>
<!-- Latest compiled and minified JavaScript -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>
<!-- Latest compiled and minified Locales -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-en-US.min.js'></script>

</html>
